{% extends "teams/base.html" %}

{% load i18n to_json utils_tags teams_tags paginator markup media_compressor profiles_tags %}

{% block title %}
    {% trans 'Dashboard' %} - {{ team }} | Amara
{% endblock %}

{% block body_attrs %}class="v1 team_dashboard"{% endblock %}

{% block css %}
    {{ block.super }}
    {% include_bundle "widget-css"%}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include_bundle "unisubs-offsite-compiled" %}
    {% include_bundle "js-teams" %}
    <script src="{% url teams:rpc_api %}" type="text/javascript"></script>
{% endblock %}

{% block select_language_dialog %}
    {% select_language_dialog %}
{% endblock %}

{% block view_content %}

    <div class="grid_8 view omega">
        {% with "dashboard" as current %}
            {% if not project %}
                {% include 'teams/_tabs.html' %}
            {% else %}
                {% include 'teams/_tabs_projects.html' %}
            {% endif %}
        {% endwith %}

        {% if user_tasks %}
            <h3>
                <a href="#">View history</a>
                Your Projects ({{ user_tasks.count }})
            </h3>
            <ul class="listing tasks yours">
                {% for task in user_tasks %}
                    <li>
                        {{ task.get_type_display }}
                        {% if task.get_language_display %}
                            {{ task.get_language_display }} for
                        {% endif %}
                        <a href="{{ task.team_video.video.get_absolute_url }}" title="View video">
                            &#8220;{{ task.team_video }}&#8221;
                        </a>
                        {% if task.expiration_date != None %}
                            {% if task.future %}
                                <span class="due">Due in {{ task.expiration_date|timeuntil }}</span>
                            {% else %}
                                <span class="due overdue">Overdue by {{ task.expiration_date|timesince }}</span>
                            {% endif %}
                        {% endif %}
                        <a class="perform-task button reduced">
                            {% trans 'Continue' %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if videos %}
            <h3>Videos that need your help ({{ videos.items|length }})</h3>
            {# View notice about langs . if not logged in or whatever, show like ten most recent. #}
            <ul class="listing videos">
                {% for id, video in videos.items %}
                    <li>
                        <a href="{{ video.video.get_absolute_url }}" class="thumb"><img src="{{ video.get_thumbnail }}" alt="{{ video.title }}"></a>
                        <h4><a href="{{ video.video.get_absolute_url }}">{{ video|truncatewords:15 }}</a></h4>
                        <ul class="languages">
                            {% for task in video.tasks %}
                                <li>
                                    {% if task.get_type_display == 'Subtitle' or task.get_type_display == 'Translate' %}
                                        Needs {{ task.get_language_display }} subtitles
                                    {% else %}
                                        {{ task.get_language_display }} subtitles need 
                                        {{ task.get_type_display }}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        {# buttony get started #}
                    </li>
                {% endfor %}
            </ul>
            {% if is_paginated %}{% paginator %}{% endif %}
        {% else %}
            <p class="empty">
                {% trans "Sorry, nothing to see here" %}
                ...
            </p>
        {% endif %}
    </div>
{% endblock %}