{% load i18n subtitles_tags videos_tags %}

{% with lang=video.subtitle_language %}
    {% if lang %}
        {% if lang.has_version or lang|in_progress %}
            <li>
                <a href="{% language_url request video.subtitle_language %}" title="View {{ video.subtitle_language.language_display }} subtitles">
                    {{ video.subtitle_language.language_display }}
                </a>

            </li>
        {% endif %}
    {% endif %}
{% endwith %}
{% if translations %}
    {% for item in translations %}
        {% if item.has_version or item|in_progress %}
            <li>
                <a href="{% language_url request item %}" title="View {{ video.subtitle_language.language_display }} subtitles">
                    {{ item.get_language_display }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endif %}
