{% extends "profiles/base.html" %}

{% load paginator i18n %}

{% block view_content %}


    <div class="view grid_8 omega">
    	{% with 'activity' as current %}
            {% include 'profiles/_tabs.html' %}
        {% endwith %}
        
        {% with action_list as events %}
			<ul class="listing activity">
	    		{% for item in events %}
				    <li>{{ item.render }}</li>
                {% empty %}
                    <li class="empty">Sorry, no activity yet.</li>
				{% endfor %}
	    	</ul>
        {% endwith %}
            
        {% if is_paginated %}{% paginator %}{% endif %}

    </div>
{% endblock %}