{% extends "profiles/base.html" %}

{% load i18n teams_tags paginator profiles_tags widget auth_tags %}

{% block title %}
    {% trans 'My videos' %} | Amara
{% endblock %}

{% block css %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block email_confirmation_block %}
    {% email_confirmation_notification 'true' %}
{% endblock %}

{% block view_content %}


    <div class="view grid_8 omega">
        {% with 'videos' as current %}
            {% include 'profiles/_tabs.html' %}
        {% endwith %}
        {% if is_paginated %}{% paginator %}{% endif %}
        <ul class="listing videos">
            {% for video in user_video_list %}
                {% include 'profiles/_video_detail.html' %}
            {% endfor %}
        </ul>
        {% if is_paginated %}{% paginator %}{% endif %}
    </div>

{% endblock %}