{% extends "profiles/base.html" %}

{% load i18n messages_tags recent_activity %}

{% block title %}{{ user_info }} | Amara{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
        .error_list {
            color: #fa6343;
        }
        
        .success-message {
            color: #5ae26b;
            margin: 5px 0 0;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% url messages:rpc_api %}" type="text/javascript"></script>  
{% endblock %}

{% block view_content %}
    {% if user_info.is_active %}
        <div class="view grid_8 omega">
            {% with 'activity' as current %}
                {% include 'profiles/_tabs.html' %}
            {% endwith %}

            {% comment %}{% if user.is_authenticated %}
                <div class="tools group">
                    {% if can_edit %}
                        <a class="button" href="{% url profiles:edit %}">Edit profile</a>
                    {% endif %}
                    {% if not user == user_info %}
                        <a class="button" href="{% url messages:new %}?user={{ user_info.username }}">Send Message</a>
                    {% endif %}
                </div>
            {% endif %}{% endcomment %}

            {% if user_info.action_set.exists %}
                {% recent_activity user_info %}
            {% else %}
                <p class="empty">No activity yet</p>
            {% endif %}
        </div>
        
        {{ block.super }}
    {% else %}
        <div class="grid_9">
            <p class="empty">{% trans 'Profile deleted by user.' %}</p>
        </div>         
    {% endif %}
{% endblock %}

{% block page_controls %}
    {% if user.is_staff and perms.videos.edit_video %}
        <ul id="page_controls">
            <li>
                <a href="{% url admin:auth_customuser_change user_info.pk %}" target="blank">{% trans 'Edit user' %}</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}